/* styling the sign up page */





/* styling the sign in page */






/* styling the home page */




/* other */
#sign-up-or-sign-in {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 25vh;
    top: 10vh;
    width: 55%; 
    height: 75%;
    overflow: auto; 
    border: solid 1px black;
    background-color: aliceblue;
    padding: 20px;
  }

  #overlay {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
  }