/* styling the sign up landing page */
#sign-up-page {
  font-family: Helvetica;
}

#sign-up-page h1 {
  background-image: url(images/bghelp.png);
  padding: 100px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 3.5rem;
  margin: 0;
} 

#sign-up-page h2 {
  color: #bfebf7;
  text-shadow: 5px 2px 2px #7a6f73;
  position: relative;
  left: 47%;
  font-size: 3rem;
  margin-top: -20px;
}

#sign-up-page #container {
  display: flex;
  flex-direction: row;
}

#sign-up-page #container img {
  position: relative;
  left: 50px;
  top: -60px;
}

#welcome-message {
  line-height: 40px;
  margin: -20px 100px 0 200px;
  padding: -20px 0 20px 0;
  text-align: center;
}

#blue-hearts {
  margin-top: -15px;
  font-size: 1.5rem;
}

#get-started {
  padding: 10px;
  background-color: #bfebf7;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1rem;
}

#get-started:hover {
  background-color: #daf0f6;
  cursor: pointer;
}

/* end styling sign up landing page */

/* styling the sign up page modals */
#overlay {
  display: none;
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  left:0;
  top: 0;
  width:100%;
  height:100%;
}
/* community guidelines modal */
#community-guidelines {
  display: none;
  background-color: #E4E7EB;
  position: fixed;
  z-index: 1; 
  left: 20%;
  top: 10vh;
  width: 55%; 
  height: 75%;
  overflow: auto; 
  padding: 20px;
  border-radius: 2px;
}

#community-guidelines-close {
  position: relative;
  top: 20px;
  left: 20px;
}

#community-guidelines-close:hover {
  cursor: pointer;
}

#community-guidelines h3 {
  color: #5f747a;
  position: relative;
  left: 90px;
  font-size: 3rem;
  margin-top: 0px;
}

#community-guidelines-content {
  margin-top: -40px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 30px;
  text-align: center;
  background-color: #F5F7FA;
  border-radius: 5px;
  color: #3E4C59;
}

#food-for-thought {
  font-size: 1.5rem;
}

#x {
  color: tomato;
}

#agreement-message-desc {
  font-size: 1.5rem;
  color: #323F4B;
}

#agreement-message-label {
  color: #323F4B;
}

/* community guidelines modal end */
/* sign up sign in modal */
#sign-up-or-sign-in {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 20%;
  top: 10vh;
  width: 55%; 
  height: 75%;
  overflow: auto; 
  background-color: #E4E7EB;
  padding: 20px;
  border-radius: 5px;
}

#sign-up-info h3 {
  text-align: center;
  color: #5f747a;
  font-size: 3rem;
  margin: 0 0 0 0;
}

#sign-up-info {
  background-color: #F5F7FA;
  padding: 20px;
}

#sign-up-inputs{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#sign-up-inputs input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  border-color: #CBD2D9;
  margin: 10px;
  width: 200px;
}

#sign-up-info p {
  color: #616E7C;
}

#avatars {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#avatars button {
  border-radius: 50%;
  border-width: 0;
  overflow: hidden;
  justify-items: center;
  justify-content: space-around;
}

#avatars label {
  color: #3E4C59;
}

#avatars button:hover {
  border: solid 2px #9fe5f8;
  cursor: pointer;
}

#sign-up-button {
  background-color: #bfebf7;
  border-width: 1px;
  border-radius: 2px;
  padding: 10px;
  width: 300px;
  margin: 20px 0 20px 34% ;
  font-size: 1.25rem;
  color: #3E4C59;
}

#sign-up-button:hover {
  background-color: #daf0f6;
  cursor: pointer;
}

#sign-up-or-sign-in h4 {
  position: relative;
  left: 47%;
  top: -36px;
  font-size: 1.1rem;
  background-color: #E4E7EB;
  width: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #616E7C;
}

#already-account {
  text-align: center;
  margin-top: -20px;
  color: #323F4B;
}

#log-in-info {
  background-color: #F5F7FA;
  padding: 20px;
}

#log-in-info h3 {
  text-align: center;
  color: #5f747a;
  font-size: 3rem;
  margin: 0 0 0 0;
}

#log-in-inputs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#log-in-inputs input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  border-color: #CBD2D9;
  margin: 10px;
  width: 200px;
}

#log-in-inputs p {
  font-size: 0.75rem;
  color: #323F4B;
}

#log-in-inputs p:hover {
  color: #66dafa;
  cursor: pointer;
}

#sign-in-button {
  background-color: #bfebf7;
  border-width: 1px;
  border-radius: 2px;
  padding: 10px;
  width: 300px;
  margin: 20px 0 20px 34% ;
  font-size: 1.25rem;
  color: #3E4C59;
}

#sign-in-button:hover {
  background-color: #daf0f6;
  cursor: pointer;
}
/* sign up sign in modal end */
/* modal styling end */


/* styling the home page */
main {
  background-color: #F5F7FA;
}

nav {
  background-color: #bfebf7;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 2rem;
  margin: 0;
} 

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
